:root {
  --text-color-primary: #555;
  --color-primary: #137dc4;
}

$color-white: #fff;
$color-primary: #137dc4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.app {
  background-color: #fff;
  min-height: 100vh;
  color: var(--text-color-primary);
}
.button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: blue;
  color: #fff;
}
